{% extends 'base.html' %}
{% block menu_users %}active{% endblock %}
{% block submenu_user_list %}active{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'common:list_user' %}"><button type="button" class="btn btn-primary">All Users</button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">User Daily Records</h2>
                    <div class="row">
                        <div class="col-lg-12">
{#                            <div class="custom-search-form col-md-4">#}
{#                                <label>Search</label>#}
{#                                <input type="text" class="form-control search-logs" placeholder="Search...">#}
{#                            </div>#}
                            <div class="col-md-4">
                                <label>Filter By Date:</label>
                                <input type="date" class="form-control date" placeholder="Filter by Date" value="{% if today_date %}{{ today_date }}{% else %}{{ logs_date }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div style="float: right; padding: 12px;" class="remove-print-display">
                        <strong>User:</strong> <span style="color: red">{{ user.username }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
{#                        <strong>Total Tickets:</strong> <span style="color: red">{{ total_quantity|floatformat:'-2' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;#}
                        <strong>Total Amount:</strong> <span style="color: red">{{ total_amount|floatformat:'-2' }}</span>&nbsp;&nbsp;&nbsp;
{#                        <strong>Reserved Tickets:</strong> <span style="color: red">{{ reserved_quantity|floatformat:'-2' }}</span>&nbsp;&nbsp;&nbsp;#}
                        <strong>Reserved Amount:</strong> <span style="color: red">{{ reserved_amount|floatformat:'-2' }}</span>&nbsp;&nbsp;&nbsp;
{#                        <strong>Cancelled Tickets:</strong> <span style="color: red">{{ cancelled_quantity|floatformat:'-2' }}</span>&nbsp;&nbsp;&nbsp;#}
                        <strong>Cancelled Amount:</strong> <span style="color: red">{{ cancelled_amount|floatformat:'-2' }}</span>&nbsp;&nbsp;&nbsp;
                    </div>
                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-question-circle"></i> Ticket Amount </th>
                            <th><i class=" fa fa-bookmark"></i> Ticket Quantity</th>
                            <th><i class=" fa fa-bookmark"></i> Status</th>
                            <th><i class=" fa fa-edit"></i> Record Date</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not ticket_records %}
                            <tr><td colspan="5" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for record in ticket_records %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ record.ticket_amount|floatformat:'-2' }}</td>
                                <td>{{ record.ticket_quantity|floatformat:'-2' }}</td>
                                <td>{{ record.ticket_status }}</td>
                                <td>{{ record.record_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.date').on('change', function () {
                var record_url = '{% url "common:user_records" user_id=user_id %}';
                if ($(this).val() == '') {
                    window.location.href = record_url
                } else {
                    window.location.href = record_url + $(this).val() + '/';
                }
            })

        });
    </script>

{% endblock %}
