{% extends 'base.html' %}
{%block menu_staff%}active{%endblock%}
{% block submenu_add_driver%}active{%endblock%}
{% block submenu_list_driver%}active{%endblock%}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'staff:driver_list' %}"><button type="button" class="btn btn-primary" style="float: left">All Drivers</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New Driver</h3>
            <div class="panel-body">
                <form action="{% url 'staff:add_driver' %}" method="post" class="adddriver" >
                    {% csrf_token %}
                    <label><strong>Name</strong></label>
                    <input type="text" class="form-control" name="name" id="name">
                    <span class="name" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Father Name.</strong></label>
                    <input type="text" class="form-control" name="father_name" id="fathername">
                    <span class="fathername" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Cnic</strong></label>
                    <input title="text" class="form-control" name="cnic" id="cnic">
                    <span class="cnic" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Address</strong></label>
                    <input type="text" class="form-control" name="address" id="address">
                    <span class="address" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Mobile</strong></label>
                    <input type="text" class="form-control" name="mobile" id="mobile">
                    <span class="mobile" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Joinning Date</strong></label>
                    <input type="date" class="form-control" name="joinning_date" id="date">
                    <span class="date" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Salary</strong></label>
                    <input type="text" class="form-control" name="salary" id="salary">
                    <span class="salary" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                     <label><strong>Select Bus</strong></label>
                   <select name="plate_no" class="form-control" id="busplate" required="">
                    <option value="">Bus number</option>
                        {% for bus in daewoo %}
                        <option >{{ bus.plate_no }}</option>
                        {% endfor %}
                   </select>
                    <span class="busplate" style="color: red; display: none" >This Field is Requried</span>
                    <br><br>
                    <input type="button" value="save" class="btn btn-primary right" id="save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#name').val() ==""){
                    $('.name').show();
                    error = true;
                }
                else {
                    $('.name').hide();
                }
                if ($('#fathername').val() == ""){
                    $('.fathername').show();
                    error = true;
                }
                else {
                    $('.fathername').hide();
                }
                if ($('#cnic').val() == ""){
                    $('.cnic').show();
                    error = true;
                }
                else {
                    $('.cnic').hide();
                }
                if ($('#mobile').val() == ""){
                    $('.mobile').show();
                    error = true;
                }
                else {
                    $('.mobile').hide();

                }
                if ($('#address').val() == ""){
                    $('.address').show();
                    error = true;
                }
                else {
                    $('.address').hide();

                }
                if ($('#date').val() == ""){
                    $('.date').show();
                    error = true;
                }
                else {
                    $('.date').hide();

                }
                if ($('#salary').val() == ""){
                    $('.salary').show();
                    error = true;
                }
                else {
                    $('.salary').hide();

                }
                if ($('#busplate').val() == ""){
                    $('.busplate').show();
                    error = true;
                }
                else {
                    $('.busplate').hide();

                }
                if (error == false)
                {
                    $('.adddriver').submit();
                }

            });
             $('#mobile').keyup(function () {
                $('.mobile').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#cnic').keyup(function () {
                $('.cnic').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#salary').keyup(function () {
                $('.salary').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
            $('#name').keyup(function () {
                $('.name').hide();
            })
             $('#fathername').keyup(function () {
                $('.fathername').hide();
            })
             $('#cnic').keyup(function () {
                $('.cnic').hide();
            })
             $('#address').keyup(function () {
                $('.address').hide();
            })
             $('#mobile').keyup(function () {
                $('.mobile').hide();
            })
             $('#salary').keyup(function () {
                $('.salary').hide();
            })
             $('#date').click(function () {
                $('.date').hide();
            })
             $('#busplate').click(function () {
                $('.busplate').hide();
            })
             })
</script>
{% endblock %}

