{% extends 'base.html' %}
{%block menu_staff%}active{%endblock%}
{% block submenu_list_driver%}active{%endblock%}

{% block content %}
    <!--<div class="container">-->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'staff:add_driver' %}"><button type="button" class="btn btn-primary">Add Drivers</button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Drivers</h2>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-user"></i> Name </th>
                            <th><i class="fa fa-male"></i> Father Name </th>
                            <th><i class="fa fa-info-circle"></i> Cnic </th>
                            <th><i class="fa fa-map-marker"></i> Address </th>
                            <th><i class=" fa fa-mobile"></i> Mobile </th>
                            <th><i class="fa fa-calendar"></i> Joining Date </th>
                            <th><i class="fa fa-money"></i> Salary </th>
                            <th><i class=" fa fa-car"></i> Bus </th>
                            <th><i class=" fa fa-edit"></i> Actions</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not drivers %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for driver in drivers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ driver.name }}</a></td>
                                <td>{{ driver.father_name }}</td>
                                <td class="#">{{ driver.cnic }}</td>
                                <td>{{ driver.address }}</td>
                                <td>{{ driver.mobile }}</td>
                                <td>{{ driver.joinning_date }}</td>
                                <td>{{ driver.daewoo }}</td>
                                <td>{{ driver.salary }}</td>
                                <td>
                                    <a href="{% url 'staff:driver_update' pk=driver.id %}"><button class="btn btn-primary btn-xs" title="Update "><i class="fa fa-edit"></i></button></a>
                                    <a href="{% url 'staff:driver_delete' pk=driver.id %}"><button class="btn btn-danger btn-xs" title="Delete "><i class="fa fa-trash-o"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}

