{% extends 'base.html' %}\
{%block menu_vehicle%}active{%endblock%}
{% block submenu_add_vehicle%}active{%endblock%}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'vehicle:vehicle_list' %}"><button type="button" class="btn btn-primary" style="float: left">All Vehicles</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New Daewoo</h3>
            <div class="panel-body">
                <form action="{% url 'vehicle:add_daewoo' %}" method="post" class="newdaewoo" >
                    {% csrf_token %}
                    <label><strong>Daewoo Type</strong></label>
                    <input type="text" class="form-control" id="daewootype" name="daewoo_type" list="type_list">
                    <datalist id="type_list">
                        <option value="2 X 1"></option>
                        <option value="2 X 2"></option>
                        <option value="HINO"></option>
                    </datalist>
                    <span class="daewootype" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Registration No.</strong></label>
                    <input type="text" class="form-control" id="registration" name="plate_no">
                    <span class="registration" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Daewoo Name</strong></label>
                    <input title="text" class="form-control daewoo_name" id="daewooname" name="name">
                    <span class="daewooname" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Total Seats</strong></label>
                    <input type="text" class="form-control" id="totalseat" name="total_seats">
                    <span class="totalseat" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>VIP Seat</strong></label> &nbsp;&nbsp;&nbsp; <input type="checkbox" name="vip_seat"><br><br>
                    <input type="button" id="save" value="Add" class="btn btn-primary right">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#daewootype').val() ==""){
                    $('.daewootype').show();
                    error = true;
                }
                else {
                    $('.daewootype').hide();
                }
                if ($('#registration').val() == ""){
                    $('.registration').show();
                    error = true;
                }
                else {
                    $('.registration').hide();
                }
                if ($('#daewooname').val() == ""){
                    $('.daewooname').show();
                    error = true;
                }
                else {
                    $('.daewooname').hide();
                }
                if ($('#totalseat').val() == ""){
                    $('.totalseat').show();
                    error = true;
                }
                else {
                    $('.totalseat').hide();
                }

                if (error == false)
                {
                    $('.newdaewoo').submit();
                }

            });

             $('#totalseat').keyup(function () {
                $('.totalseat').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
            $('#daewootype').keyup(function () {
                $('.daewootype').hide();
            })
            $('#registration').keyup(function () {
                $('.registration').hide();
            })
            $('#daewooname').keyup(function () {
                $('.daewooname').hide();
            })
            $('#totalseat').keyup(function () {
                $('.totalseat').hide();
            })

             })
</script>

{% endblock %}