{% extends 'base.html' %}
{%block menu_vehicle%}active{%endblock%}
{% block submenu_list_vehicle%}active{%endblock%}
{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'vehicle:add_daewoo' %}"><button type="button" class="btn btn-primary">Add Daewoo</button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Vehicle List</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-bullhorn"></i> Registration</th>
                            <th><i class="fa fa-question-circle"></i> Daewoo Type </th>
                            <th><i class=" fa fa-bookmark"></i> Total Seats</th>
                            <th><i class=" fa fa-edit"></i> VIP Seat</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not daewoos %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for daewoo in daewoos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ daewoo.plate_no }}</a></td>
                                <td class="#">{{ daewoo.name }} ({{ daewoo.daewoo_type }})</td>
                                <td>{{ daewoo.total_seats }}</td>
                                <td>{{ daewoo.vip_seat }}</td>
                                <td>
                                    <a href="{% url 'vehicle:vehicle_update' pk=daewoo.id %}"><button class="btn btn-primary btn-xs" title="Update Vehicle"><i class="fa fa-edit"></i></button></a>
                                    <a href="{% url 'vehicle:vehicle_delete' pk=daewoo.id %}"><button class="btn btn-danger btn-xs" title="Delete Vehicle"><i class="fa fa-trash-o"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}