{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <br>
{#            <a href="{% url 'staff:add_driver' %}"><button type="button" class="btn btn-primary">Add Drivers</button></a>#}
{#            <br><br>#}
            <div class="content-panel table-responsive">
                <h2 class="text-center">Incharge Daily Reports</h2>
                <hr>
                <table class="table table-striped table-advance table-hover">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th><i class="fa fa-user"></i> Date </th>
                        <th><i class="fa fa-male"></i> Closing Amount </th>
                        <th><i class="fa fa-info-circle"></i> Advance Amount</th>
                        <th><i class="fa fa-map-marker"></i> Total Amount </th>
                    </tr>
                    </thead>
                    <tbody class="daewoos-table-body">
                    {% if not result_data %}
                        <tr><td colspan="4" class="text-center">Record Not Found</td></tr>
                    {% endif %}
                    {% for data in result_data reversed     %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ data.date }}</a></td>
                            <td>{{ data.total_departure_amount|floatformat:'-2' }}</td>
                            <td>{{ data.advance_amount|floatformat:'-2' }}</td>
                            <td>{{ data.total_route_amount|floatformat:'-2' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
