{% extends 'base.html' %}
{%block menu_departure%}active{%endblock%}
{% block submenu_add_departure%}active{%endblock%}
{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'route:list_departure' %}"><button type="button" class="btn btn-primary" style="float: left">All Timings</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New timings</h3>
            <div class="panel-body">
                <form action="{% url 'route:add_departure' %}" method="post" class="addtime" >
                    {% csrf_token %}
                    <br>
                     <label><strong>Select Departure</strong></label>
                   <select name="name" id="station" class="form-control">
                    <option value="">Departure</option>
                        {% for destination in destinations %}
                        <option>{{ destination.name }}</option>
                        {% endfor %}
                   </select>
                    <span class="station" style="color: red; display: none" >This Field is Requried</span>
                <br>
                   <label><strong>Time</strong></label>
                    <input type="text" id="time" class="form-control" name="timing">
                    <span class="time" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                <label><strong>Daewoo Type</strong></label>
                    <input type="text" class="form-control" id="daewootype" name="daewoo_type" list="type_list">
                    <datalist id="type_list">
                        <option value="2 X 1"></option>
                        <option value="2 X 2"></option>
                        <option value="HINO"></option>
                    </datalist>
                    <span class="daewootype" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <br><br>
                     <input type="button" id="save" value="Save" class="btn btn-primary right">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#station').val() == ""){
                    $('.station').show();
                    error = true;
                }
                else {
                    $('.station').hide();
                }

                if ($('#time').val() == ""){
                    $('.time').show();
                    error = true;
                }
                else {
                    $('.time').hide();
                }
                if ($('#bus').val() == ""){
                    $('.bus').show();
                    error = true;
                }
                else {
                    $('.bus').hide();
                }

                if (error == false)
                {
                    $('.addtime').submit();
                }

            });
             $('#station').click(function () {
                $('.station').hide();
                checkDec(this);
            })
             $('#time').keyup(function () {
                $('.time').hide();
                checkDec(this);
            })
            $('#bus').click(function () {
                $('.bus').hide();
                checkDec(this);
            })
             })
</script>

{% endblock %}



