{% extends 'base.html' %}
{%block menu_departure%}active{%endblock%}
{% block submenu_list_departure%}active{%endblock%}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'route:add_departure' %}"><button type="button" class="btn btn-primary">Add Departure Timing </button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Timings</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-bullhorn"></i> Destination </th>
                            <th><i class="fa fa-clock-o"></i> Timing </th>
                             <th><i class="fa fa-bullhorn"></i> Bustype </th>

                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not timings %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for time in timings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ time.destination }}</a></td>
                                <td>{{ time.timing }}</td>
                                <td>{{ time.daewoo_type }}</td>

                                <td>
                                    <a href="{% url 'route:update_departure' pk=time.id %}"><button class="btn btn-primary btn-xs" title="Update "><i class="fa fa-edit"></i></button></a>
                                    <a href="{% url 'route:delete_departure' pk=time.id %}"><button class="btn btn-danger btn-xs" title="Delete "><i class="fa fa-trash-o"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}