{% extends 'base.html' %}
{%block menu_booking%}active{%endblock%}
{% block submenu_add_booking%}active{%endblock%}
{% load staticfiles %}

{% block content %}
<button type="button" class="btn btn-primary print-invoice-btn mt" onclick="PrintInvoice('print-invoice')">Print Invoice</button><br>
<div class="print-invoice" id="print-invoice">
    <div class="row mt">
        <div class="col-lg-8 col-xs-8" style="padding: 0px 0px 0px 13px;">
            <div class="showback" style="border:3px double; padding:0px; min-height: 415px">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 text-center" style="width: 100%"><img src="{% static 'img/sadabahar.png' %}" style="width:100%"></div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-4 col-xs-4">
                        <div class="col-lg-3 col-xs-3"><b style="color:#000">Date</b></div>
                        <div class="col-lg-9 col-xs-9 text-center" style="border-bottom: 1px solid">{{ booking.booking_date }}</div>
                    </div>
                    <div class="col-lg-4 col-xs-4">
                        <div class="col-lg-4 col-xs-6" style="padding: 0px"><b style="color:#000">Ticket No</b></div>
                        <div class="col-lg-8 col-xs-6 text-center" style="border-bottom: 1px solid">{{ booking.id|stringformat:"07d" }}</div>
                    </div>
                    <div class="col-lg-4 col-xs-4">
                        <div class="col-lg-4 col-xs-4"><b style="color:#000">From</b></div>
                        <div class="col-lg-8 col-xs-8 text-center" style="margin-left: -10px; border-bottom: 1px solid">Quetta</div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-4 col-xs-4">
                        <div class="col-lg-3 col-xs-3"><b style="color:#000">Name</b></div>
                        <div class="col-lg-9 col-xs-9 text-center" style="border-bottom: 1px solid">{{ booking.passenger.name }}</div>
                    </div>
                    <div class="col-lg-3 col-xs-3"  style="padding: 0px">
                        <div class="col-lg-4 col-xs-5" style="padding: 0px"><b style="color:#000">Seat No</b></div>
                        <div class="col-lg-8 col-xs-7 text-center" style="padding: 0px; border-bottom: 1px solid">{{ booking.seats_no }}</div>
                    </div>
                    <div class="col-lg-5 col-xs-5"  style="padding: 0px 15px 0px 0px;">
                        <div class="col-lg-6 col-xs-6" style="padding: 0px"><b style="color:#000">Departure Date</b></div>
                        <div class="col-lg-6 col-xs-6 text-center" style="margin-left: -10px; border-bottom: 1px solid">{{ booking.departure }}</div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-4 col-xs-4">
                        <div class="col-lg-6 col-xs-7"><b style="color:#000"> Destination</b></div>
                        <div class="col-lg-6 col-xs-5 text-center" style="padding: 0px; border-bottom: 1px solid" >{{ booking.destination.name }} </div>
                    </div>
                    <div class="col-lg-5 col-xs-5">
                        <div class="col-lg-6 col-xs-8" style="padding: 0px"><b style="color:#000">Departure Timing</b></div>
                        <div class="col-lg-6 col-xs-4 text-center" style="padding: 0px; border-bottom: 1px solid" >{{ booking.departure_timing.timing }}</div>
                    </div>
                    <div class="col-lg-3 col-xs-3"  style="padding: 0px 15px 0px 0px;">
                        <div class="col-lg-7 col-xs-6" style="padding: 0px"><b style="color:#000"> Quantity</b></div>
                        <div class="col-lg-5 col-xs-6 text-center" style="margin-left: -10px; border-bottom: 1px solid" >{{ booking.seats_quantity }} </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-7 col-xs-7">
                        <div class="col-lg-2 col-xs-3"><b style="color:#000">Mobile </b></div>
                        <div class="col-lg-10 col-xs-9 text-center" style="padding: 0px; border-bottom: 1px solid"> {{ booking.passenger.mobile_no }}</div>
                    </div>
                    <div class="col-lg-5 col-xs-5"  style="padding: 0px 15px 0px 0px;">
                        <div class="col-lg-3 col-xs-3"><b style="color:#000">Fare</b></div>
                        <div class="col-lg-9 col-xs-9 text-center" style="margin-left: -10px; border-bottom: 1px solid"> {{booking.grand_total|floatformat:'-2' }}</div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-12 col-xs-12">
                        <div class="col-lg-1 col-xs-2"><b style="color:#000">CNIC</b></div>
                        <div class="col-lg-11 col-xs-10 text-center" style="margin-left: -10px; border-bottom: 1px solid" >{{ booking.passenger.cnic }} </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-12 col-xs-12">
                        <!--<div class="col-md-5 col-xs-5">-->
                            <!--<h6 style="color:#000">-->
                                <!--<b></b>-->
                            <!--</h6>-->
                        <!--</div>-->
                        <!--<div class="col-md-7 col-xs-7">-->
                            <div class="col-md-3 col-xs-3">
                                <b style="color:#000">QUETTA OFFICE</b>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <b style="color:#000">
                                    081-2452290<br>
                                    081-2452291
                                </b>
                            </div>
                         <div class="col-md-3 col-xs-3">
                                <b style="color:#000">
                                    081-2452292<br>
                                    0334-2987251
                                </b>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <b style="color:#000">
                                    0334-2987250<br>
                                    0334-2984872
                                </b>
                            </div>
                        <!--</div>-->
                        <div class="col-md-12 col-xs-12">
                           <ul style="color:#000; padding-left: 12px;">
                               <li style="font-weight:bold; padding-bottom:5px">Terms and Conditions:</li>
                               <li style="list-style:disc;font-size: 12px;font-weight: bold;">Please Reach 30 minutes Before Departure Time. In Case of Being Late The Company Will not be Responsible.</li>
                                <li style="list-style:disc;font-size: 12px;font-weight: bold;">Please Do'not Put Your Worthy Items in Your Luggage.
                                    In Case of Luggage loss Company will not be Responsible.</li>
                               <li style="list-style:disc;font-size: 12px;font-weight: bold;">Passenger Should Take care of their Own Luggage.</li>
                           </ul>
                        </div>
                    </div>
                </div>
                <!--Date: {{ booking.booking_date }}<br>-->
                <!--Ticket No: 0000011<br><br>-->

                <!--Name: {{ booking.passenger.name }}<br>-->
                <!--CNIC: {{ booking.passenger.cnic }}<br>-->
                <!--Mobile: {{ booking.passenger.mobile_no }}<br><br>-->

                <!--Vehicle: {{ booking.departure_timing.vehicle }}<br>-->
                <!--Seats: {{ booking.seats_no }}<br>-->
                <!--Quantity: {{ booking.seats_quantity }}<br>-->
                <!--Total Amount: {{ booking.total_amount }}<br><br>-->

                <!--Destination: {{ booking.destination.name }}<br>-->
                <!--Station: {{ booking.station.name }}<br>-->
                <!--Fare: {{ booking.station.fare }}<br><br>-->
                <!--Departure Timing: {{ booking.departure_timing.timing }}<br>-->
                <!--Departure Date: {{ booking.departure }}<br><br>-->
            </div>
        </div>
        <div class="col-lg-4 col-xs-4" style="padding: 0px 17px 0px 0px;" >
            <div class="showback" style="border:3px double; padding:0px; min-height:415px">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 text-center" style="width:100%"><img src="{% static 'img/sadabahar_1.png' %}" style="width:100%"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-12" style="margin-top:10px">
                        <div class="col-lg-4 col-xs-4"><b style="color:#000">Date</b></div>
                        <div class="col-lg-8 col-xs-8 text-center" style="padding: 0px; border-bottom: 1px solid" >{{ booking.booking_date }} </div>
                    </div>
                    <div class="col-lg-6 col-xs-12" style="margin-top:10px" >
                        <div class="col-lg-6 col-xs-6" style="padding-right: 0px;"><b style="color:#000">Ticket No</b></div>
                        <div class="col-lg-6 col-xs-6 text-center" style="margin-left: -10px; border-bottom: 1px solid" >{{ booking.id|stringformat:"07d" }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-12" style="margin-top:10px">
                        <div class="col-lg-6 col-xs-6"><b style="color:#000">Quantity</b></div>
                        <div class="col-lg-6 col-xs-6 text-center" style="margin-left: -10px; border-bottom: 1px solid" >{{ booking.seats_quantity }}</div>
                    </div>
                    <div class="col-lg-6 col-xs-12" style="margin-top:10px">
                        <div class="col-lg-7 col-xs-5"><b style="color:#000"> Seat NO.</b></div>
                        <div class="col-lg-5 col-xs-7 text-center" style="margin-left: -10px; border-bottom: 1px solid">{{ booking.seats_no }} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-xs-12" style="margin-top:10px">
                        <div class="col-lg-4 col-xs-3"><b style="color:#000">From</b></div>
                        <div class="col-lg-8 col-xs-9 text-center" style="padding: 0px; border-bottom: 1px solid">Quetta</div>
                    </div>
                    <div class="col-lg-7 col-xs-12" style="margin-top:10px">
                        <div class="col-lg-6 col-xs-7" ><b style="color:#000"> Destination</b></div>
                        <div class="col-lg-6 col-xs-5 text-center" style="margin-left: -10px; border-bottom: 1px solid"> {{ booking.destination.name }}</div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-12 col-xs-12" >
                        <div class="col-lg-6 col-xs-7" style=" padding-right: 0px;"><b style="color:#000">Departure Timing</b></div>
                        <div class="col-lg-6 col-xs-5 text-center" style="margin-left: -10px; border-bottom: 1px solid">{{ booking.departure_timing.timing }}</div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-12 col-xs-12">
                        <div class="col-lg-2 col-xs-2"><b style="color:#000">Mobile </b></div>
                        <div class="col-lg-10 col-xs-10 text-center" style="margin-left: -10px; border-bottom: 1px solid"> {{ booking.passenger.mobile_no }} </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-12 col-xs-12">
                        <div class="col-lg-2 col-xs-2"><b style="color:#000">Fare</b></div>
                        <div class="col-lg-10 col-xs-10 text-center" style="margin-left: -10px; border-bottom: 1px solid">{{ booking.grand_total|floatformat:'-2' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        function PrintInvoice(divName){
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    {% endblock %}
