{% extends 'base.html' %}
{%block menu_booking%}active{%endblock%}
{% block submenu_reschedule%}active{%endblock%}
{% block content %}

<div class="row mt">
                <div class="col-lg-11 col-md-11 col-sm-12">
                  <div class="showback">
                    <nav class="  panel-body">
                      <h3>Get Your Schedule</h3>
                      <hr>
                    <div class="row">
                        <form >
                            <!-- Start Autosuggest textbox for hotels/tours -->
                            <div class="col-md-4">
                                    <label>From City</label>
                                        <select class="form-control">
                                          <option>quetta</option>
                                          <option>nuskhi</option>
                                        </select>
                            </div>
                            <div class="col-md-4">
                                    <label>To City</label>
                                        <select class="form-control">
                                          <option>--Select Arrival--</option>
                                          <option></option>
                                        </select>
                            </div>
                            <div class="col-md-4 ">
                                    <label>Date</label>
                                    <input type="date" class="form-control">
                            </div>
                            </div>
                            <div class="row mt">
                            <div class="col-md-3 pull-right">
                              <a class="btn btn-primary" href="#">Get Schedule</a>
                                </div>
                              </div>

                        </form>
                    </div>
                </nav>
              </div>
            </div>
          </div>

              <!-- /col-lg-9 END SECTION MIDDLE -->


      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->
                  <div class="row">
                  <div class="col-lg-11">
                    <div class="showback">
                      <form>
                        <h3>Re-Schudele Passangers List</h3><hr>

                        <div class="row">
                          <div class="col-md-12">
                           <table class="table table-hover">
  <thead style="background: #585a6b; color: #fff" >
    <tr>
      <th scope="col">Seat #</th>
      <th scope="col">First Name</th>
      <th scope="col">Cnic</th>
      <th scope="col">Phone</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>54501213456</td>
      <td>0345123</td>
      <td><a class="btn btn-info btn-xs" href="#" title="View"
                   value="view"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success btn-xs" href="#" title="Update"
                   value="update"><i class="fa fa-edit"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>545012356</td>
      <td>03463545</td>
      <td><a class="btn btn-info btn-xs" href="#" title="View"
                   value="view"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success btn-xs" href="#" title="Update"
                   value="update"><i class="fa fa-edit"></i></a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>54040434</td>
      <td>4534245</td>
      <td><a class="btn btn-info btn-xs" href="#" title="View"
                   value="view"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success btn-xs" href="#" title="Update"
                   value="update"><i class="fa fa-edit"></i></a></td>
    </tr>
  </tbody>
</table>
                        </div>
                      </div>

{% endblock %}