{% extends 'base.html' %}
{%block menu_booking%}active{%endblock%}
{% block submenu_add_booking%}active{%endblock%}

{% block content %}
    <style>
        .imgseat{
            width: 35px;
            display: inline-block;
        }
        .seat_no{
            border: 1px solid;
            padding: 4px 15px;
            color: #000;
            font-size: 19px;
            font-weight: bold;
            cursor: pointer;
        }
        .blue {
            background: #aab4c4;
        }
        .show_back{
            padding: 0px 15px 0px;
            margin-bottom: 10px;
        }
    </style>
    <div class="row mt">
        <div class="col-lg-11 col-md-11 col-sm-12">
            <div class="showback show_back">
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-border">
                            <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> Route</th>
                                <th><i class="fa fa-bullhorn"></i> From</th>
                                <th><i class="fa fa-bullhorn"></i> Destination</th>
                                <th><i class="fa fa-question-circle"></i> Last Station</th>
                                <th><i class="fa fa-question-circle"></i> Vehicle</th>
                                <th><i class=" fa fa-bookmark"></i> Fares per Seat</th>
                                <th><i class=" fa fa-edit"></i> Departure Time</th>
                                <th><i class=" fa fa-plus"></i> Booking Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ destination.route }}</td>
                                <td>Quetta</td>
                                <td>{{ destination.name }}</td>
                                <td>{{ station.name }}</td>
                                <td>{{ departure.vehicle.plate_no }} ({{ departure.vehicle.daewoo_type }})</td>
                                <td>{{ station.fare }}</td>
                                <td>{{ departure.timing }}</td>
                                <td>{{ reserved_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sajd-->


    <div class="row mt">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <div class="showback">
                <h3>Book a Seat</h3>
                <hr>
                <h5>Booked Seat = &nbsp;<span style="padding: 0.5px 7px; background: #296090"></span></h5>
                <h5>New Booking = &nbsp;<span style="padding: 0.5px 7px; background: #aab4c4"></span></h5>
               {% if departure.daewoo_type == '2 X 2' %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="2" class="text-center">Door</th>
                        <th colspan="2"></th>
                        <th colspan="2" class="text-center">Driver</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <td><span class="seat_no seat_04">04</span></td>
                        <td><span class="seat_no seat_03">03</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_02">02</span></td>
                        <td><span class="seat_no seat_01">01</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_08">08</span></td>
                        <td><span class="seat_no seat_07">07</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_06">06</span></td>
                        <td><span class="seat_no seat_05">05</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_12">12</span></td>
                        <td><span class="seat_no seat_11">11</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_10">10</span></td>
                        <td><span class="seat_no seat_09">09</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_16">16</span></td>
                        <td><span class="seat_no seat_15">15</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_14">14</span></td>
                        <td><span class="seat_no seat_13">13</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_20">20</span></td>
                        <td><span class="seat_no seat_19">19</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_18">18</span></td>
                        <td><span class="seat_no seat_17">17</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_24">24</span></td>
                        <td><span class="seat_no seat_23">23</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_22">22</span></td>
                        <td><span class="seat_no seat_21">21</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_28">28</span></td>
                        <td><span class="seat_no seat_27">27</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_26">26</span></td>
                        <td><span class="seat_no seat_25">25</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_32">32</span></td>
                        <td><span class="seat_no seat_31">31</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_30">30</span></td>
                        <td><span class="seat_no seat_29">29</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_36">36</span></td>
                        <td><span class="seat_no seat_35">35</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_34">34</span></td>
                        <td><span class="seat_no seat_33">33</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_40">40</span></td>
                        <td><span class="seat_no seat_39">39</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_38">38</span></td>
                        <td><span class="seat_no seat_37">37</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_44">44</span></td>
                        <td><span class="seat_no seat_43">43</span></td>
                        <td><span class="seat_no seat_46">46</span></td>
                        <td><span class="seat_no seat_45">45</span></td>
                        <td><span class="seat_no seat_44">42</span></td>
                        <td><span class="seat_no seat_41">41</span></td>
                    </tr>
                    </tbody>
                </table>
            {% elif departure.daewoo_type == '2 X 1' %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="1" class="text-center">Door</th>
                        <th colspan="1"></th>
                        <th colspan="2" class="text-center">Driver</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tbody class="text-center">
                        <tr>
                          <td><span class="seat_no seat_03">03</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_01">01</span></td>
                          <td><span class="seat_no seat_02">02</span></td>
                        </tr>
                         <tr>
                          <td><span class="seat_no seat_06">06</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_04">04</span></td>
                          <td><span class="seat_no seat_05">05</span></td>
                        </tr>
                         <tr>
                          <td><span class="seat_no seat_09">09</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_07">07</span></td>
                          <td><span class="seat_no seat_08">08</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_12">12</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_10">10</span></td>
                          <td><span class="seat_no seat_11">11</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_15">15</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_13">13</span></td>
                          <td><span class="seat_no seat_14">14</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_18">18</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_16">16</span></td>
                          <td><span class="seat_no seat_17">17</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_21">21</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_19">19</span></td>
                          <td><span class="seat_no seat_20">20</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_24">24</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_22">22</span></td>
                          <td><span class="seat_no seat_23">23</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_27">27</span></td>
                          <td colspan="1"></td>
                          <td><span class="seat_no seat_25">25</span></td>
                          <td><span class="seat_no seat_26">26</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_28">28</span></td>
                          <td><span class="seat_no seat_29">29</span></td>
                          <td><span class="seat_no seat_30">30</span></td>
                          <td><span class="seat_no seat_31">31</span></td>
                        </tr>
                        <tr>
                      </tbody>
                    </table>
            {% elif departure.daewoo_type == 'HINO' %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-center">Door</th>
                        <th colspan="2"></th>
                        <th colspan="3" class="text-center">Driver</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tbody class="text-center">
                    <tr>
                          <td colspan="2"><span class="seat_no seat_VIP">VIP</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_02">02</span></td>
                          <td><span class="seat_no seat_01">01</span></td>
                        </tr>
                         <tr>
                          <td><span class="seat_no seat_06">06</span></td>
                          <td><span class="seat_no seat_05">05</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_04">04</span></td>
                          <td><span class="seat_no seat_03">03</span></td>
                        </tr>
                         <tr>
                          <td><span class="seat_no seat_10">10</span></td>
                          <td><span class="seat_no seat_09">09</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_08">08</span></td>
                          <td><span class="seat_no seat_07">07</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_14">14</span></td>
                          <td><span class="seat_no seat_13">13</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_12">12</span></td>
                          <td><span class="seat_no seat_11">11</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_18">18</span></td>
                          <td><span class="seat_no seat_17">17</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_16">16</span></td>
                          <td><span class="seat_no seat_15">15</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_22">22</span></td>
                          <td><span class="seat_no seat_21">21</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_20">20</span></td>
                          <td><span class="seat_no seat_19">19</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_26">26</span></td>
                          <td><span class="seat_no seat_25">25</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_24">24</span></td>
                          <td><span class="seat_no seat_23">23</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_30">30</span></td>
                          <td><span class="seat_no seat_29">29</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_28">28</span></td>
                          <td><span class="seat_no seat_27">27</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_34">34</span></td>
                          <td><span class="seat_no seat_33">33</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_32">32</span></td>
                          <td><span class="seat_no seat_31">31</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_38">38</span></td>
                          <td><span class="seat_no seat_37">37</span></td>
                          <td colspan="3"></td>
                          <td><span class="seat_no seat_36">36</span></td>
                          <td><span class="seat_no seat_35">35</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_42">42</span></td>
                          <td><span class="seat_no seat_41">41</span></td>
                           <td colspan="3"></td>
                          <td><span class="seat_no seat_40">40</span></td>
                          <td><span class="seat_no seat_39">39</span></td>
                        </tr>
                        <tr>
                          <td><span class="seat_no seat_46">46</span></td>
                          <td><span class="seat_no seat_45">45</span></td>
                           <td colspan="3"></td>
                          <td><span class="seat_no seat_44">44</span></td>
                          <td><span class="seat_no seat_43">43</span></td>
                        </tr>
                      </tbody>
                    </table>
            {% endif %}

            </div>
        </div>
        <!-- /col-lg-9 END SECTION MIDDLE -->
        <!-- **********************************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        *********************************************************************************************************************************************************** -->
        <div class="col-lg-4">
            <div class="showback">
                <h3>Passangers Detail</h3>
                <hr>

                <div class="row">
                    {% if departure.daewoo_type == 'HINO' %}
                        <div class="col-md-12 form-group">
                            <label><strong>Seat Options</strong></label>
                            <select class="form-control seat_opt" id="seat_opt" name="seat_opt">
                                <option selected="selected">Normal Seat</option>
                                <option>Extra Seats</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-md-6 form-group">
                        <label><strong>Fare</strong></label>
                        <input type="text" class="form-control fares" value="{{ station.fare }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label><strong>Quantity</strong></label>
                        <input type="number" name="" class="form-control quantity" value="0" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label><strong>Total Amount</strong></label>
                        <input type="text" name="" class="form-control total_amount" value="0" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label><strong>Pay Option</strong></label>
                        <select class="form-control pay_opt" id="pay_opt" name="pay_opt">
                            <option selected="selected">Paid</option>
                            <option>Not Paid</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label><strong>Discount</strong></label>
                        <input type="text" name="" class="form-control discount" value="0">
                    </div>
                    <div class="col-md-6 form-group">
                        <label><strong>Reference</strong></label>
                        <input type="text" name="" class="form-control reference" placeholder="Reference (Optional)">
                    </div>
                    <div class="col-md-12 form-group">
                        <label><strong>Seat No.</strong></label>
                        <input type="text" name="" class="form-control reserve_seats" id="seat_no" readonly>
                        <span class="seat_no_error" style="color: red; display: none" >This Field is Requried</span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label><strong>Reservation Type</strong></label>
                        <select class="form-control reservation-type">
                            <option value="Passenger Booking">Passenger Booking</option>
                            <option value="Station Booking">Station Booking</option>
                        </select>
                    </div>
                    <div class="station-reservation" style="display: none;">
                        <div class="col-md-12 form-group">
                            <label><strong>Reservation Station</strong></label>
                            <input type="text" class="form-control station-booking" id="staton_booking_select" list="station-res-list">
                            <datalist onautocomplete="false" id="station-res-list">
                                {% for station_reservation in station_reservations %}
                                    <option value="{{ station_reservation.name|title }}">{{ station_reservation.station_name|title }}</option>
                                {% endfor %}
                            </datalist>
                            <span class="station_booking_error" style="color: red; display: none" >This Field is Requried</span>
                        </div>
                    </div>
                    <div class="col-md-12 form-group card_div">
                        <label><strong>Card Type</strong></label>
                        <select class="form-control card-type">
                            <option value="Cnic">Cnic</option>
                            <option value="Muhajir">Muhajir Card</option>
                            <option value="Passport">Passport No</option>
                        </select>
                    </div>
                    <div class="">
                        <div class="col-md-12 form-group cnic_card">
                            <label><strong>Cnic</strong></label>
                            <input type="text" name="" placeholder="Enter Cnic" class="form-control cnic" id="cnic">
                            <span class="cnic_error" style="color: red; display: none" >This Field is Requried</span>
                        </div>
                        <div class="col-md-12 form-group passport_card" style="display: none;">
                            <label><strong>Passport No.</strong></label>
                            <input type="text" name="" placeholder="Enter Passport No." class="form-control passport_no" id="passport_no">
                            <span class="passport_error" style="color: red; display: none" >This Field is Requried</span>
                        </div>
                        <div class="col-md-12 form-group muhajir_card" style="display:none;">
                            <label><strong>Muhajir Card No.</strong></label>
                            <input type="text" name="" placeholder="Enter Muhajir No." class="form-control muhajir_no" id="muhajir_no">
                            <span class="muhajir_error" style="color: red; display: none" >This Field is Requried</span>
                        </div>
                        <div class="col-md-12 form-group name_div">
                            <label><strong>Passenger Name</strong></label>
                            <input type="text" name="" placeholder="Enter Passenger Name" class="form-control name" id="name">
                            <span class="name_error" style="color: red; display: none" >This Field is Requried</span>
                        </div>
                        <div class="col-md-12 form-group mobile_number">
                            <label><strong>Mobile Number</strong></label>
                            <input type="text" name="" placeholder="Enter Mobile Number" class="form-control mobile_no" id="mobile">
                            <span class="mobile_error" style="color: red; display: none" >This Field is Requried</span>
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn btn-primary create-booking" id="create-booking" value="Book Seat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            {% if departure.daewoo_type == 'HINO' %}
                $('.seat_opt').on('change', function () {
                   if ($('.seat_opt').val() == 'Normal Seat') {
                        $('.fares').attr('readonly', true);
                        $('.fares').val('{{ station.fare }}');

                        $('.quantity').attr('readonly', true);
                        $('.reserve_seats').val('');

                   } else {
                       $('.fares').attr('readonly', false);
                       $('.fares').val(0);

                       $('.quantity').attr('readonly', false);
                       $('.quantity').val(0);

                       $('.total_amount').val(0);

                       $('.reserve_seats').val('Extra Seats');

                       $('.seat_no').removeClass('blue');
                   }
                });
                $('.fares').on('change', function () {
                    $('.total_amount').val(parseFloat($('.quantity').val()) * parseFloat($('.fares').val()))
                });
                $('.quantity').on('change', function () {
                    $('.total_amount').val(parseFloat($('.quantity').val()) * parseFloat($('.fares').val()))
                });
            {% endif %}

            {% for seat in seats_list %}
                $(".seat_{{ seat }}").css('pointer-events', 'none');
                $(".seat_{{ seat }}").css('background', '#296090');
            {% endfor %}

            $(".seat_no").click(function(){
                $(this).addClass('seat_no');
                $(this).toggleClass("blue");
                var seat = $(this).text();
                var reserve_seat = $('.reserve_seats').val();
                var quantity = $('.quantity').val();

                if ($(this).hasClass('blue') == true) {
                    if (reserve_seat == ''){
                        reserve_seat += seat;
                    } else {
                        reserve_seat += ', ' + seat;
                    }
                    $('.reserve_seats').val(reserve_seat);
                    quantity = Number(quantity) + 1;
                    $('.quantity').val(quantity);
                } else {
                    quantity = quantity - 1;
                    $('.quantity').val(quantity);
                    var n = reserve_seat.search(seat);

                    if (n == 0){
                        if (quantity == 0) {
                            var replaced_value = reserve_seat.replace(seat, '');
                        } else {
                            var replaced_value = reserve_seat.replace(seat + ', ', '');
                        }
                    } else {
                        var replaced_value = reserve_seat.replace(', '+seat, '');
                    }

                    $('.reserve_seats').val(replaced_value);
                }
                $('.total_amount').val(quantity * {{ station.fare }});
            });

            $('#create-booking').on('click', function () {
             var error = false;

              if($('.reservation-type').val() == "Passenger Booking"){
                if ($('#name').val() == ""){
                    $('.name_error').show();
                    error = true;
                }
                else {
                    $('.name_error').hide();
                }

                 if ($('#cnic').val() == ""  && $('#passport_no').val() == "" && $('#muhajir_no').val() == "") {
                    $('.cnic_error').show();
                    $('.passport_error').hide();
                    $('.muhajir_error').hide();
                    error = true;
                }
                else if ($('#cnic').val() == "" && $('#passport_no').val() == "" && $('#muhajir_no').val() == "")  {
                    $('.cnic_error').hide();
                    $('.passport_error').show();
                    $('.muhajir_error').hide();
                    error = true;
                }
                else if ($('#cnic').val() == "" && $('#passport_no').val() == "" && $('#muhajir_no').val() == "")  {
                    $('.cnic_error').hide();
                    $('.passport_error').hide();
                    $('.muhajir_error').show();
                    error = true;
                }

                 if ($('#mobile').val() == ""){
                    $('.mobile_error').show();
                    error = true;
                }
                else {
                    $('.mobile_error').hide();
                }
                 if ($('#seat_no').val() == ""){
                    $('.seat_no_error').show();
                    error = true;
                }
                else {
                    $('.sear_no_error').hide();
                }
}
if($('.reservation-type').val() == "Station Booking"){
                if ($('#staton_booking_select').val() == ""){
                    $('.station_booking_error').show();

                    error = true;
                }
                else {
                    $('.station_booking_error').hide();
                }

                }

                $('#cnic , #passport_no , #muhajir_no').keyup(function () {
                   $('.cnic_error').hide();
                   $('.passport_error').hide();
                   $('.muhajir_error').hide();
                });
                $('#name').keyup(function () {
                   $('.name_error').hide();
                });
                $('#staton_booking_select').click(function () {
                   $('.station_booking_error').hide();
                });

                $('#mobile').keyup(function () {
                   $('.mobile_error').hide();
                        checkDec(this);
                });
                function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
                 if (error == false)
                    {
                       $.post('{% url "booking:create_booking_api" %}', {
                   'route_id': '{{ destination.route.id }}',
                   'destination_id': '{{ destination.id }}',
                   'station_id': '{{ station.id }}',
                   'vehicle_id': '{{ departure.vehicle.id }}',
                   'departure_id': '{{ departure.id }}',
                   'booking_date': '{{ reserved_date }}',
                   'customer_cnic': $('.cnic').val(),
                   'customer_name': $('.name').val(),
                   'customer_mobile': $('.mobile_no').val(),
                   'fares': $('.fares').val(),
                   'seats_no': $('.reserve_seats').val(),
                   'quantity': $('.quantity').val(),
                   'total_amount': $('.total_amount').val(),
                   'passport_no': $('.passport_no').val(),
                   'muhajir_card_no': $('.muhajir_no').val(),
                   'discount': $('.discount').val(),
                   'reference': $('.reference').val(),
                   'payment': $('.pay_opt').val(),
                   'reservation_type': $('.reservation-type').val(),
                   'station_booking': $('.station-booking').val()

               }, function (result, status) {
                   window.location.href = '/booking/' + result.booking_id + '/ticket/'
               })
               }
                else {
                return;
                }
               })

           $('.reservation-type').on('change', function () {
               if ($('.reservation-type').val() == 'Passenger Booking'){
                    $('.station-reservation').hide();
                    $('.passenger-reservation').show();
                    $('.card_div').show();
                    $('.cnic_card').show();
                    $('.name_div').show();
                    $('.mobile_number').show();
                    $('.pay_opt').val('Paid');
                    $('.pay_opt').attr("disabled", false);
               } else {
                    $('.passenger-reservation').hide();
                    $('.cnic_card').hide();
                    $('.card_div').hide();
                    $('.muhajir_card').hide();
                    $('.passport_card').hide();
                    $('.name_div').hide();
                    $('.mobile_number').hide();
                    $('.station-reservation').show();
                    $('.pay_opt').val('Not Paid');
                    $('.pay_opt').attr("disabled", true);
               }
            });

             $('.card-type').on('change', function () {
               if ($('.card-type').val() == 'Cnic'){
                    $('.muhajir_card').hide();
                    $('.passport_card').hide();
                    $('.cnic_card').show();
               } else if ($('.card-type').val() == 'Muhajir') {
                   $('.cnic_card').hide();
                   $('.muhajir_card').show();
                    $('.passport_card').hide();
               }
                else if ($('.card-type').val() == 'Passport'){
                   $('.cnic_card').hide();
                   $('.muhajir_card').hide();
                    $('.passport_card').show();
               }
            });

        });
    </script>

{% endblock %}