{% extends 'base.html' %}
{%block menu_booking%}active{%endblock%}
{% block submenu_reschedule%}active{%endblock%}

{% block content %}

    <div class="row mt">
        <div class="col-lg-7 col-md-6 col-sm-12 col-lg-offset-1">
            <div class="showback">
                <form>
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1">
                            <h3>Get Your Schedule</h3>
                            <div class="form-group">
                                <label>From</label>
                                <select class="form-control">
                                    <option selected>Quetta</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Destination</label>
                                <select class="form-control destination" id="destination">
                                    <option>--To--</option>
                                    {% for destination in destinations %}
                                        <option data-id="{{ destination.id }}">{{ destination.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <label>Departure Timing</label>
                                <select class="form-control departure_timing" id="departure_timing">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Booking Date</label>
                                <input type="date" class="form-control departure_date" id="departure_date">
                            </div>
                            <a class="btn btn-primary schedule" id="schedule"  href="#">Get Schedule</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(function () {
            $('.destination').on('change', function () {
               $.post(
                   '{% url "route:departure_timing_api" %}',
                   {'destination': $('.destination').val()},
                   function (result, status) {
                       var departure_timing_data = '<option>--Timing--</option>';
                       $.each(result.departure_timings, function(key, result){
                           departure_timing_data += '<option data-id="' + result.id + '">' + result.timing + '</option>';
                       });

                       {#var station_data = '<option>--Station--</option>';#}
                       {#$.each(result.stations, function(key, result){#}
                       {#    station_data += '<option data-id="' + result.id + '">' + result.station + '</option>';#}
                       {#});#}

                       $('#departure_timing').html(departure_timing_data);
                       $('.station').html(station_data);
                   }
               )
            });

            // Need to be used for the redirection


            $('.schedule').on('click', function () {
                var destination_id = $('.destination').find(':selected').data('id');
                var station_id = $('.station').find(':selected').data('id');
                var timing_id = $('.departure_timing').find(':selected').data('id');
                var departure_date = $('.departure_date').val();

                window.location.href = '/booking/destination/' + destination_id + '/timing/' + timing_id +  '/date/' + departure_date + '/list/';

            });

        });
    </script>
{% endblock %}
