{% extends 'base.html' %}
{% block menu_booking %}active{% endblock %}
{% block submenu_details_booking %}active{% endblock %}
{% block content %}

<!--{% load staticfiles %}-->

<style type="text/css">
        .seat_no{
            border: 1px solid #ddd;
            padding: 4px 8px !important;
            color: black;
            font-size: 19px;
            cursor: pointer;
            -webkit-print-color-adjust: exact;
        }
        .table_height{
            padding: 0px;
            margin: 0px;
        }
        .show_back{
            padding: 10px 15px 0px;
        }
    </style>
<div class="row mt">
    <div class="col-lg-12 ">
        <div class="showback">
            <div class="row ">
                <div class="col-md-4">
                    <label><strong>Driver</strong></label>
                    <span class="driver-error" style="display: none; color: red">Please Select Driver </span>
                    <select name="name" id="driver" onchange="changeDriver()" class="form-control ">
                        <option value="{{ driver.name }}">Select Driver</option>
                        {% for driver in drivers %}
                        <option value="{{ driver.name }}"> {{ driver.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label><strong>Vehicle</strong></label>
                    <span class="vehicle-error" style="display:none; color: red">Please Select Vehicle</span>
                    <select name="plate_no" id="vehicle" onchange="changeVehicle()" class="form-control">
                        <option value="{{ vehicle.plate_no }}">Select Vehicle</option>
                        {% for object in vehicles %}
                        <option>{{ object.plate_no }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary print-invoice-btn mt " onclick="PrintInvoice('print-invoice')" >Print Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="print-invoice" id="print-invoice">
    <div class="row mt">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="showback show_back">
                <div class="panel-body table_height">
                    <div class="row">
                        <table class="table table-border">
                            <thead>
                            <tr>
                                <th style="background-color: #585a6b !important; color: #fff !important;"><i class="fa fa-user"></i> Driver</th>
                                <th style="background-color: #585a6b !important; color: #fff !important;"><i class="fa fa-car"></i> Vehicle</th>
                                <th style="background-color: #585a6b !important; color: #fff !important;"><i class="fa fa-bullhorn"></i> From</th>
                                <th style="background-color: #585a6b !important; color: #fff !important;"><i class="fa fa-question-circle"></i> Destination</th>
                                <th style="background-color: #585a6b !important; color: #fff !important;"><i class=" fa fa-edit"></i> Departure Time</th>
                                <th style="background-color: #585a6b !important; color: #fff !important;"><i class=" fa fa-plus"></i> Booking Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="sdriver">{{ driver.name }}</td>
                                <td id="svehicle">{{vehicle.plate_no }} ({{ vehicle.daewoo_type }})</td>
                                <td>Quetta</td>
                                <td>{{ departure_timing.destination.name }}</td>
                                <td>{{ departure_timing.timing }}</td>
                                <td>{{ departure_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="showback">
                <h3>Seat Booked</h3>
                <hr>
                <h5>Booked Seat = &nbsp;<span style="padding: 0.5px 7px; background: #296090"></span></h5>
                {% if departure_timing.daewoo_type == '2 X 2' %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="2" class="text-center" style="background-color: #585a6b !important; color: #fff !important;">Door</th>
                        <th colspan="2"></th>
                        <th colspan="2" class="text-center" style="background-color: #585a6b !important; color: #fff !important;">Driver</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <td><span class="seat_no seat_04">04</span></td>
                        <td><span class="seat_no seat_03">03</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_02">02</span></td>
                        <td><span class="seat_no seat_01">01</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_08">08</span></td>
                        <td><span class="seat_no seat_07">07</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_06">06</span></td>
                        <td><span class="seat_no seat_05">05</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_12">12</span></td>
                        <td><span class="seat_no seat_11">11</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_10">10</span></td>
                        <td><span class="seat_no seat_09">09</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_16">16</span></td>
                        <td><span class="seat_no seat_15">15</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_14">14</span></td>
                        <td><span class="seat_no seat_13">13</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_20">20</span></td>
                        <td><span class="seat_no seat_19">19</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_18">18</span></td>
                        <td><span class="seat_no seat_17">17</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_24">24</span></td>
                        <td><span class="seat_no seat_23">23</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_22">22</span></td>
                        <td><span class="seat_no seat_21">21</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_28">28</span></td>
                        <td><span class="seat_no seat_27">27</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_26">26</span></td>
                        <td><span class="seat_no seat_25">25</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_32">32</span></td>
                        <td><span class="seat_no seat_31">31</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_30">30</span></td>
                        <td><span class="seat_no seat_29">29</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_36">36</span></td>
                        <td><span class="seat_no seat_35">35</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_34">34</span></td>
                        <td><span class="seat_no seat_33">33</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_40">40</span></td>
                        <td><span class="seat_no seat_39">39</span></td>
                        <td colspan="2"></td>
                        <td><span class="seat_no seat_38">38</span></td>
                        <td><span class="seat_no seat_37">37</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_44">44</span></td>
                        <td><span class="seat_no seat_43">43</span></td>
                        <td><span class="seat_no seat_46">46</span></td>
                        <td><span class="seat_no seat_45">45</span></td>
                        <td><span class="seat_no seat_42">42</span></td>
                        <td><span class="seat_no seat_41">41</span></td>
                    </tr>
                    </tbody>
                </table>
                {% elif departure_timing.daewoo_type == '2 X 1' %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="1" class="text-center" style="background-color: #585a6b !important; color: #fff !important;">Door</th>
                        <th colspan="1"></th>
                        <th colspan="2" class="text-center" style="background-color: #585a6b !important; color: #fff !important;">Driver</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tbody class="text-center">
                    <tr>
                        <td><span class="seat_no seat_3">03</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_1">01</span></td>
                        <td><span class="seat_no seat_2">02</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_6">06</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_4">04</span></td>
                        <td><span class="seat_no seat_5">05</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_9">09</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_7">07</span></td>
                        <td><span class="seat_no seat_8">08</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_12">12</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_10">10</span></td>
                        <td><span class="seat_no seat_11">11</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_15">15</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_13">13</span></td>
                        <td><span class="seat_no seat_14">14</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_18">18</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_16">16</span></td>
                        <td><span class="seat_no seat_17">17</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_21">21</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_19">19</span></td>
                        <td><span class="seat_no seat_20">20</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_24">24</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_22">22</span></td>
                        <td><span class="seat_no seat_23">23</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_27">27</span></td>
                        <td colspan="1"></td>
                        <td><span class="seat_no seat_25">25</span></td>
                        <td><span class="seat_no seat_26">26</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_28">28</span></td>
                        <td><span class="seat_no seat_29">29</span></td>
                        <td><span class="seat_no seat_30">30</span></td>
                        <td><span class="seat_no seat_31">31</span></td>
                    </tr>
                    <tr>
                    </tbody>
                </table>
                {% elif departure_timing.daewoo_type == 'HINO' %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-center" style="background-color: #585a6b !important; color: #fff !important;">Door</th>
                        <th colspan="2"></th>
                        <th colspan="3" class="text-center" style="background-color: #585a6b !important; color: #fff !important;">Driver</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <td colspan="2"><span class="seat_no seat_VIP">VIP</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_2">02</span></td>
                        <td><span class="seat_no seat_1">01</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_6">06</span></td>
                        <td><span class="seat_no seat_5">05</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_4">04</span></td>
                        <td><span class="seat_no seat_3">03</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_10">10</span></td>
                        <td><span class="seat_no seat_9">09</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_8">08</span></td>
                        <td><span class="seat_no seat_7">07</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_14">14</span></td>
                        <td><span class="seat_no seat_13">13</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_12">12</span></td>
                        <td><span class="seat_no seat_11">11</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_18">18</span></td>
                        <td><span class="seat_no seat_17">17</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_16">16</span></td>
                        <td><span class="seat_no seat_15">15</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_22">22</span></td>
                        <td><span class="seat_no seat_21">21</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_20">20</span></td>
                        <td><span class="seat_no seat_19">19</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_26">26</span></td>
                        <td><span class="seat_no seat_25">25</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_24">24</span></td>
                        <td><span class="seat_no seat_23">23</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_30">30</span></td>
                        <td><span class="seat_no seat_29">29</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_28">28</span></td>
                        <td><span class="seat_no seat_27">27</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_34">34</span></td>
                        <td><span class="seat_no seat_33">33</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_32">32</span></td>
                        <td><span class="seat_no seat_31">31</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_38">38</span></td>
                        <td><span class="seat_no seat_37">37</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_36">36</span></td>
                        <td><span class="seat_no seat_35">35</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_42">42</span></td>
                        <td><span class="seat_no seat_41">41</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_40">40</span></td>
                        <td><span class="seat_no seat_39">39</span></td>
                    </tr>
                    <tr>
                        <td><span class="seat_no seat_46">46</span></td>
                        <td><span class="seat_no seat_45">45</span></td>
                        <td colspan="3"></td>
                        <td><span class="seat_no seat_44">44</span></td>
                        <td><span class="seat_no seat_43">43</span></td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <!-- /col-lg-9 END SECTION MIDDLE -->
        <!-- ***********************************************************************************************************
        RIGHT SIDEBAR CONTENT
        **************************************************************************************** -->
        <div class="col-lg-8 col-xs-8">
            <div class="showback">
                <div>
                    <h3>Passangers List</h3>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead style="background-color: #585a6b !important; color: #fff;">
                                <tr>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">Passenger</th>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">Seats</th>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">Quantity</th>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">Payment</th>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">CNIC</th>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">Mobile</th>
                                    <th style="background-color: #585a6b !important; color: #fff !important;">Station</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in passenger_booking_list %}
                                <tr>
                                    <th>{{ booking.passenger.name|title }}</th>
                                    <td>{{ booking.seats_no }}</td>
                                    <td>{{ booking.seats_quantity }}</td>
                                    <td>{{ booking.has_payment }}</td>
                                    <td>{% if booking.passenger.cnic %}{{ booking.passenger.cnic}} {% endif %}
                                    {% if booking.passenger.passport_no %}{{ booking.passenger.passport_no}} {% endif %}
                                    {% if booking.passenger.immigrant_card_no %}{{ booking.passenger.immigrant_card_no}} {% endif %}
                                    </td>
                                    <td>{{ booking.passenger.mobile_no }}</td>
                                    <td>{{ booking.station }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if station_booking_list %}
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead style="background: #585a6b; color: #fff">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Seat No.</th>
                                    <th scope="col">Station</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in station_booking_list %}
                                <tr>
                                    <th>{{ booking.station_reservation.name|title }}</th>
                                    <td>{{ booking.seats_no }}</td>
                                    <td>{{ booking.station_reservation.station_name }}</td>
                                    <td>{{ booking.station_reservation.mobile_no }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
        $(document).ready(function() {
            {% for seat in all_seats %}
{#                $(".seat_{{ seat }}").css('background', '#296090');#}
                $(".seat_{{ seat }}").addClass('booked');
                $(".seat_{{ seat }}").parent().attr('style', 'background-color: #296090 !important');

            {% endfor %}

        });

         function changeDriver(){
            var x = document.getElementById("driver").value;
            document.getElementById("sdriver").innerHTML = "" + x;
        }

         function changeVehicle(){
            var x = document.getElementById("vehicle").value;
            document.getElementById("svehicle").innerHTML = "" + x;
        }

    function PrintInvoice(divName){


        var error = false;
        if ($('#driver').val() == ""){
            $('.driver-error').show();
            error = true;
        }

        if ($('#vehicle').val() == ""){
            $('.vehicle-error').show();
            error = true;
        }

        if (error == true) {
            return
        }

        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
		document.body.innerHTML = originalContents;
    }


    </script>

{% endblock %}