{% extends 'base.html' %}
{%block menu_station%}active{%endblock%}
{% block submenu_add_station%}active{%endblock%}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'route:list_station' %}"><button type="button" class="btn btn-primary" style="float: left">All Stations</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New Stations</h3>
            <div class="panel-body">
                <form action="{% url 'route:add_station' %}" method="post" class="addstation" >
                    {% csrf_token %}
                    <br>
                    <label><strong>Name</strong></label>
                    <input type="text" class="form-control" id="name" name="name">
                    <span class="name" style="color: red; display: none" >This Field is Requried</span><br>
                    <label><strong>Fare</strong></label>
                    <input title="text" class="form-control daewoo_name" id="fare" name="fare">
                    <span class="fare" style="color: red; display: none" >This Field is Requried</span><br>
                    <label><strong>Select Destination</strong></label>
                   <select name="name1" id="destination" class="form-control">
                    <option value="">Destination</option>
                        {% for object in destinations %}
                        <option value="{{ object.name }}">{{ object.name }}</option>
                        {% endfor %}
                   </select>
                    <span class="destination" style="color: red; display: none" >This Field is Requried</span><br>
                <label><strong>Daewoo Type</strong></label>
                    <input type="text" class="form-control" id="daewootype" name="daewoo_type" list="type_list">
                    <datalist id="type_list">
                        <option value="2 X 1"></option>
                        <option value="2 X 2"></option>
                        <option value="HINO"></option>
                    </datalist>
                    <span class="daewootype_error" style="color: red; display: none" >This Field is Requried</span>
                <br>
                <br>
                     <input type="button" id="save" value="Save" class="btn btn-primary right">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#name').val() == ""){
                    $('.name').show();
                    error = true;
                }
                else {
                    $('.name').hide();
                }

                if ($('#fare').val() == ""){
                    $('.fare').show();
                    error = true;
                }
                else {
                    $('.fare').hide();
                }
                if ($('#destination').val() == ""){
                    $('.destination').show();
                    error = true;
                }
                else {
                    $('.destination').hide();
                }
                if ($('#daewootype').val() == ""){
                    $('.daewootype_error').show();
                    error = true;
                }
                else {
                    $('.daewootype_error').hide();
                }
                if (error == false)
                {
                    $('.addstation').submit();
                }

            });
             $('#fare').keyup(function () {
                $('.fare').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#name').keyup(function () {
                $('.name').hide();

            })
             $('#fare').keyup(function () {
                $('.fare').hide();

            })
            $('#destination').click(function () {
                $('.destination').hide();

            })
             $('#daewootype').click(function () {
                $('.daewootype_error').hide();

            })
             })
</script>

{% endblock %}

