{% extends 'base.html' %}
{%block menu_reserved_stations%}active{%endblock%}
{% block submenu_list_reservation%}active{%endblock%}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'booking:add_reservedstations' %}"><button type="button" class="btn btn-primary">Add Stations Reserved</button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Reserved Stations List</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-bullhorn"></i> Name</th>
                            <th><i class=" fa fa-bookmark"></i> Mobile NO.</th>
                            <th><i class=" fa fa-edit"></i> Station Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not stationreservations %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for stations in stationreservations %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ stations.name }}</a></td>
                                <td>{{ stations.mobile_no }}</td>
                                <td>{{ stations.station_name }}</td>
                                <td>
                                    <a href="{% url 'booking:update_reservedstations' pk=stations.id %}"><button class="btn btn-primary btn-xs" title="Update Vehicle"><i class="fa fa-edit"></i></button></a>
                                    <a href="{% url 'booking:delete_reservedstations' pk=stations.id %}"><button class="btn btn-danger btn-xs" title="Delete Vehicle"><i class="fa fa-trash-o"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}