{% extends 'base.html' %}
{%block menu_station%}active{%endblock%}
{% block submenu_list_station%}active{%endblock%}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'route:add_station' %}"><button type="button" class="btn btn-primary">Add Stations </button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Stations</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-bullhorn"></i> Name </th>
                            <th><i class="fa fa-question-circle"></i> Fare </th>
                            <th><i class="fa fa-bullhorn"></i> Last Station </th>
                            <th><i class="fa fa-bullhorn"></i> Daewoo Type </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not stations %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for station in stations %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ station.name }}</a></td>
                                <td class="#">{{ station.fare }} </td>
                                <td>{{ station.destination }}</td>
                                <td>{{ station.daewoo_type }}</td>
                                <td>
                                    <a href="{% url 'route:update_station' pk=station.id %}"><button class="btn btn-primary btn-xs" title="Update "><i class="fa fa-edit"></i></button></a>
                                    <a href="{% url 'route:delete_station' pk=station.id %}"><button class="btn btn-danger btn-xs" title="Delete "><i class="fa fa-trash-o"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}