{% extends 'base.html' %}
{%block menu_users%}active{%endblock%}
{% block submenu_user_list%}active{%endblock%}
{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <br>
                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                <a href="{% url 'common:register' %}"><button type="button" class="btn btn-primary">New User</button></a>
                {% endif %}
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Users Accounts</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-question-circle"></i> Username </th>
                            <th><i class=" fa fa-bookmark"></i> User Type</th>
                            <th><i class=" fa fa-bookmark"></i> Route</th>
                            <th><i class=" fa fa-edit"></i> Total Amount</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not users %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for account in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ account.user }}</td>
                                <td>{{ account.user_type }}</td>
                                <td>{{ account.user.user_route.route|title }}</td>
                                <td>{{ account.munshi_records_total|floatformat:'-2' }} </td>
                                <td>
                                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                                    <a href="{% url 'common:delete_user' pk=account.user.id %}"><button onclick="return confirm('Are you sure you want to DELETE USER?')" class="btn btn-danger btn-xs" title="Delete "><i class="fa fa-trash-o"></i></button></a>
                                    {% endif %}
                                {% if account.user_type == 'Munshi' %}
                                    <a href="{% url 'common:user_records' user_id=account.user.id %}"><button class="btn btn-success btn-xs" title="Details "><i class="fa fa-eye"></i></button></a>
                                {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}