
    {% extends 'base.html' %}

    {% block content %}
        <div class="col-md-6">
            <br>
            <a href="{% url 'route:list_destination' %}"><button type="button" class="btn btn-primary" style="float: left">All Destinations</button></a>
            <br><br><br>
            <div class="content-panel">
                <h3 class="text-center">{{ object.name }} to ({{ object.route }}) </h3>
                <div class="panel-body">
                    <form action="{% url 'route:update_destination' pk=object.id %}" method="post" class="adddestination" >
                        {% csrf_token %}
                        <label><strong>Name</strong></label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ object.name }}">
                        <span class="name" style="color: red; display: none" >This Field is Requried</span><br>
                        <label><strong>Route</strong></label>
                        <select name="name1" id="route" class="form-control">
                            <option>{{ object.route.name }}</option>
                                {% for route in routes %}
                                <option>{{ route.name }}</option>
                                {% endfor %}

                        </select>
                        <span class="route" style="color: red; display: none" >This Field is Requried</span>
                        <br><br>
                        <input type="button" id="save" value="Save" class="btn btn-primary right">
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#name').val() == ""){
                    $('.name').show();
                    error = true;
                }
                else {
                    $('.name').hide();
                }

                if ($('#route').val() == ""){
                    $('.route').show();
                    error = true;
                }
                else {
                    $('.route').hide();
                }

                if (error == false)
                {
                    $('.adddestination').submit();
                }

            });
             $('#name').keyup(function () {
                $('.name').hide();
                checkDec(this);
            })
            $('#route').click(function () {
                $('.route_erorr').hide();
                checkDec(this);
            })
             })
</script>

{% endblock %}





